# ------------------------
# Python cache files
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------
# Virtual Environment
# ------------------------
ven/
venv/
env/
.venv/

# ------------------------
# Streamlit Cache
# ------------------------
.streamlit/

# ------------------------
# IDE & System files
# ------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ------------------------
# Large Model & Media Files
# ------------------------
*.pt
*.h5
*.pkl
*.onnx
*.weights

# ------------------------
# Audio / Video Files
# ------------------------
*.wav
*.mp3
*.mp4
*.avi

# ------------------------
# Environment Variable Files
# ------------------------
.env

# ------------------------
# Logs
# ------------------------
*.log
logs/
